.nb{
    background-color: #333;
    padding : 1rem;
    position: sticky;/* to enable the header to stick to the top*/
    top: 10px;/* Adds a gap between the header and top, you can see the content thru it on scrolling*/
}

.nb ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nb a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nb a:hover{
    text-decoration: underline;
}


.squares-container{
    border: 5px solid black;
    display: flex;
    justify-content:flex-end;
    width: fit-content;
}
  

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    margin:5px;
}

.footer{
    position: fixed;/* for footer to stick to bottom you cant use sticky, but use fixedposition with bottom:0 */
    bottom: 0;
}